<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fa fa-user-circle" aria-hidden="true"></i>
      <%= @logged_user.name.upcase%></a
            >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/friendships/your_friends">
      <i class="fa fa-users" aria-hidden="true"></i>
      FRIENDSHIPS</a
            >
  </li>
</ul>
