<nav class="navbar navbar-expand-lg navbar-light bg-light nav-color">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0 col-xl-5">
      <div class="form-group has-search col-xl-12">
        <span class="fa fa-search form-control-feedback"></span>
        <input
              type="text"
              class="form-control form-control-sm col-xl-12"
              placeholder="Search"
            />
        </div>
      </form>
      <ul class="navbar-nav mr-auto ml-auto">
        <li class="nav-item active">
          <a class="nav-link nav-link2" href="#">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            User <span class="sr-only">(current)</span></a
            >
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link2" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
        </li>
        <li class="nav-item">
          <a class="nav-link nav-lin2" href="#"
              >Create <span class="sr-only">(current)</span></a
            >
        </li>
        <li class="nav-item">
          <%= link_to('Logout', destroy_user_session_path, class: "nav-link", method: :delete) %> <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item dropdown">
          <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
            <i class="fa fa-users" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="row friend-title-con">
              <div class="col-xl-6">
                <p class="text-f text-left">Friend Requests</p>
              </div>
              <div class="col-xl-6">
                <p class="text-f text-right">
                  <a href="#">
                    Hello test
                  </a>
                  |
                  <a href="#">
                    Settings
                  </a>
                </p>
              </div>
            </div>
            <div class="friend-con"></div>
            <div class="row friend-title-con">
              <div class="col-xl-6">
                <p class="text-f text-left">Requests Accepted</p>
              </div>
            </div>
            <div class="friend-con"></div>
            <div class="row friend-title-con">
              <div class="col-xl-8">
                <p class="text-f text-left">People You May Know</p>
              </div>
            </div>
            <div class="friend-con ">
              <div class="row friend-row">
                <div class="col-xl-2 ">
                  <div class="user-circle-xs"></div>
                </div>
                <div class="col-xl-4 ">
                  testing
                </div>
                <div class="col-xl-6 ">
                  <button type="button" class="btn btn-light btn-sm">
                    Add Friend
                  </button>
                  <button type="button" class="btn btn-light btn-sm">
                    Remove
                  </button>
                </div>
              </div>
              <hr />
              <div class="row friend-row">
                <div class="col-xl-2 ">
                  <div class="user-circle-xs"></div>
                </div>
                <div class="col-xl-4 ">
                  testing
                </div>
                <div class="col-xl-6 ">
                  <button type="button" class="btn btn-light btn-sm">
                    Add Friend
                  </button>
                  <button type="button" class="btn btn-light btn-sm">
                    Remove
                  </button>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
              ><i class="fa fa-comments" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
              ><i class="fa fa-bell" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
